.ob_rss_title{

}
.ob_rss_link {

}
.ob_rss_description {

}
.ob_rss_body {

}
.ob_rss_link_body {

}
.ob_rss_title_body {

}
.ob_rss_pubdate_body {

}
.ob_rss_description_body {
   background-color:url('gif/fading_background_19.png');
}
.ob_shade {
  background-color:#f00;
  border:0;
}