.ob_dygraphs_default {
  border: 0.25em solid rgb(221, 221, 221);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}




