.ob_img_featherEdge_style_1 {
 	position: relative;
	-webkit-border-radius: 30em;
	-moz-border-radius: 30em;
	border-radius: 30em;

}
.ob_img_featherEdge_style_1:after {
        position: absolute;
	content: ' ';
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: -webkit-gradient(radial, 50% 50%, 50, 50% 50%, 70, from(rgba(255,255,255,0)), to(rgba(255,255,255,1)));
	background: -moz-radial-gradient(50% 50%, circle, rgba(255,255,255,0) 50px, rgba(255,255,255,1) 70px);

}




