
.ob_clock_default {

    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    border:1px solid black;
    border-radius:1em;

  
    background: #d5cea6; /* Old browsers */
    background: -moz-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5cea6), color-stop(40%, #c9c190), color-stop(100%, #b7ad70)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* IE10+ */
    background: linear-gradient(to bottom, #d5cea6 0%, #c9c190 40%, #b7ad70 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d5cea6', endColorstr = '#b7ad70', GradientType = 0); /* IE6-9 */
}

