.ob_list_default_bg_gold {
    border: 0px white solid;
    overflow: auto;
}

.ul_default_bg_gold {
    list-style-type: none;
    padding-left: 2.1em;
    margin: 0;
}

.li_default_bg_gold {
    list-style-image: url( "gif/ArrowR4_orange.gif" );
    background-image: url( "gif/fagegold.jpg" );
    background-repeat: no-repeat;
    padding: 0.1em;
}
.li_default_bg_gold:hover {
     background-color: orange;
     padding: 0.2em
}


